@using gitskills.Models
@inject StateContainer StateContainer
@inherits LayoutComponentBase
@implements IDisposable

<div class="page">
    <Layout Loading="@StateContainer.isLoading">
        <LayoutHeader>
            <NavMenu />
        </LayoutHeader>
        <LayoutContent>
            <div class="content app-content">
                @Body
            </div>
        </LayoutContent>
    </Layout>
</div>

@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

}