<Bar Breakpoint = "Breakpoint.Desktop"
     Background = "Background.Primary"
     ThemeContrast = "ThemeContrast.Light">
    
    <BarBrand><span class="brand-title">SSW.GitSkills</span></BarBrand>
    
    <BarToggler/>

    <BarMenu>
        
    </BarMenu>
</Bar>