<Bar Breakpoint = "Breakpoint.Desktop"
     Background = "Background.Primary"
     ThemeContrast = "ThemeContrast.Light">
    
    <BarBrand><span class="brand-title">SSW.GitSkills</span></BarBrand>
    
    <BarToggler/>

    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/skills">Explore Skills</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/users">Explore Users</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Icon Name="IconName.User"/>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>